.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-left: 125px;
    margin-top: -25px; 
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.titulo {
    margin-left: 8px;
}

.privacidade-texto {
    font-size: 12px;
    color: #424242;
    margin: 10px 8px 15px 8px; 
    width: 300px; 
}

.checkbox-container1 {
    display: flex;
    align-items: center;
    margin: 5px 8px;
    margin-top: -30px;
    width: 340px; 
}

.checkbox-container2 {
    display: flex;
    align-items: center;
    margin: 5px 8px;
    margin-top: -50px;
    width: 340px; 
}

.checkbox-container1 input[type="checkbox"] {
    margin: 0;
    margin-right: 5px;
    width: auto;
    height: auto;
}

.checkbox-container2 input[type="checkbox"] {
    margin: 0;
    margin-right: 5px;
    width: auto;
    height: auto;
}

.checkbox-container1 label {
    font-size: 13px;
    color: #000000;
    margin-top: 0;
    cursor: pointer;
}

.checkbox-container2 label {
    font-size: 13px;
    color: #000000;
    margin-top: 0;
    cursor: pointer;
}
